# this is a config file for the comparison commands Useful_script
# this script provides data locations and paths for the comparison of phycorder
# to traditional methods of phylogenetics


master_reads=/path/to/read/dir

phycorder_path=/path/to/phycorder

useful_scripts_path=/path/to/useful/scripts directory
