# this is a config file for the comparison commands Useful_script
# this script provides data locations and paths for the comparison of phycorder
# to traditional methods of phylogenetics

REPLICATES=4

master_reads="/path/to/read/dir"

phycorder_path="/path/to/phycorder"

gon_phy_alignments="/path/to/gon_phy_alignments_folder"

outdir="/path/to/outdir/you/want/to/make"

# Starting tree toggle: if use of a starting tree is desired edit: tree=""
# if no starting tree is desired, edit to look like: tree="NONE"

tree="NONE"

r1_tail="read_tail_1"
r2_tail="read_tail_2"

# this number is the number of taxa you want at each step of assembly/mapping and inference
file_split_num="#"


# how many threads gon_phyling gets
THREADS="#"

# dicate the number of parallel runs phycorder will use
# IMPORTANT: this number will be multiplied by the number of threads in phycorder_threads
phycorder_runs="#"

# dictates the number of threads each run of phycorder can use
phycorder_threads="#"

# Bootstrapping: switch to "ON" to enable bootstraping for both pipelines. Switch to "OFF" to disable bootstrapping for both pipelines
bootstrapping="OFF"
